In [1]:
#Check and Set the Working Diectory:
import os
os.getcwd()
#Change the directory:
#os.chdir('F:\\7.2020\\Hackathon\\Code\\7.HealthCare')

'F:\\7.2020\\Hackathon\\Code\\7.HealthCare'

* Steps to be followed:
    - LOad the Dataset
    - Verify it is loaded properly
    - Check the attributes types
    - Check the Null values
    - Drop/Fill the Null Values
    - Split into X,y(featurs and labels)
    - use Model_selction for train_test_split
    - Build the Model

In [2]:
#load the dataset:
data =pd.read_excel("Hospitalcosts.xlsx")
data.head()

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2   1.0    2660     560
1   17       0    2   1.0    1689     753
2   17       1    7   1.0   20060     930
3   17       1    1   1.0     736     758
4   17       1    1   1.0    1194     754

In [3]:
data.tail()

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

In [4]:
#Check the column names:
data.columns

Index(['AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG'], dtype='object')

In [5]:
#Check the dimension of the data:
data.shape

(500, 6)

In [6]:
#Check the the Null Values:
data.isna().sum()

AGE       0
FEMALE    0
LOS       0
RACE      1
TOTCHG    0
APRDRG    0
dtype: int64

In [7]:
#Drop the NA values:
data.dropna(inplace=True)
print("The New Dimesnion after dropping the NaN is {}".format(data.shape))

The New Dimesnion after dropping the NaN is (499, 6)

In [8]:
#Check the NaN Values:
data.isna().sum()

AGE       0
FEMALE    0
LOS       0
RACE      0
TOTCHG    0
APRDRG    0
dtype: int64

In [9]:
#Reset the index:
data = data.reset_index()

In [10]:
#AGE:     Age of the patient discharged
#FEMALE:- A biary Value shows female
#LOS:-    Length of stays in days
#Race:-   Race of the patients(Specified Numerically)
#Totchg:- Hospital Discharge
#Aprdrg:- All Patient Refined Diagnosis Related Groups

In [11]:
#Totchg:- It is the Target column.

In [12]:
#Check the data types:
data.dtypes

index       int64
AGE         int64
FEMALE      int64
LOS         int64
RACE      float64
TOTCHG      int64
APRDRG      int64
dtype: object

In [13]:
#####

In [14]:
#Case1: We keep this value as Number only:
#RACE MUst be converted into Object because it has 6 distinct Values Higher Values
#would be getting More importance and lower values gtting less but that data is not stroed in that way
#data["RACE"] = (data["RACE"]).astype(str)
#data.dtypes

In [15]:
#Shape the dataset:
print("The data set has dimesnion of{}".format(data.shape))

The data set has dimesnion of(499, 7)

In [16]:
#len(data.columns)
#len(data)

In [17]:
#Describe the datatype:
data.describe(include="all")

,index,AGE,FEMALE,LOS,RACE,TOTCHG,APRDRG
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,249.446894,5.096192,0.511022,2.829659,1.078156,2777.631263,616.312625
std,144.621937,6.952706,0.500380,3.366657,0.514746,3891.632405,178.491837
min,0.000000,0.000000,0.000000,0.000000,1.000000,532.000000,21.000000
25%,124.500000,0.000000,0.000000,2.000000,1.000000,1218.500000,640.000000
50%,249.000000,0.000000,1.000000,2.000000,1.000000,1538.000000,640.000000
75%,374.500000,13.000000,1.000000,3.000000,1.000000,2530.500000,751.000000
max,499.000000,17.000000,1.000000,41.000000,6.000000,48388.000000,952.000000

In [18]:
#Describe the numerical datatype for "int64":
data.describe(include=["int64"])

,index,AGE,FEMALE,LOS,TOTCHG,APRDRG
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,249.446894,5.096192,0.511022,2.829659,2777.631263,616.312625
std,144.621937,6.952706,0.500380,3.366657,3891.632405,178.491837
min,0.000000,0.000000,0.000000,0.000000,532.000000,21.000000
25%,124.500000,0.000000,0.000000,2.000000,1218.500000,640.000000
50%,249.000000,0.000000,1.000000,2.000000,1538.000000,640.000000
75%,374.500000,13.000000,1.000000,3.000000,2530.500000,751.000000
max,499.000000,17.000000,1.000000,41.000000,48388.000000,952.000000

In [19]:
#Describe the numerical datatype:
#data.describe(include=["object"])

In [20]:
#Now find the "Target" column for this dataset:
data.columns

Index(['index', 'AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG'], dtype='object')

In [21]:
#TOTCHG:is the Target column
X = data.drop("TOTCHG",axis=1)
X.head()

   index  AGE  FEMALE  LOS  RACE  APRDRG
0      0   17       1    2   1.0     560
1      1   17       0    2   1.0     753
2      2   17       1    7   1.0     930
3      3   17       1    1   1.0     758
4      4   17       1    1   1.0     754

In [22]:
#This is the Target:
y = data[["TOTCHG"]]
y.head()

   TOTCHG
0    2660
1    1689
2   20060
3     736
4    1194

In [23]:
#Split the data into train(75%) and test(25%):
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state = 100)

In [24]:
#Build the regression modelling:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#Train the Model:
lr.fit(X_train,y_train)

LinearRegression()

In [25]:
#Predict on train:
pred_train_lr = lr.predict(X_train)
#Predict on test:
pred_test_lr = lr.predict(X_test)

In [26]:
#Check the result:
#It is the metric which decides the result:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error

In [27]:
print("Mean Absolute Error:")
print(mean_absolute_error(y_train,pred_train_lr))
print(mean_absolute_error(y_test,pred_test_lr))

Mean Absolute Error:
873.6358615294104
1212.3070559418218

In [28]:
print("Mean Squared Error:")
print(mean_squared_error(y_train,pred_train_lr))
print(mean_squared_error(y_test,pred_test_lr))

Mean Squared Error:
3081192.173595695
18011965.049535684

In [29]:
print(873.6358615294104*873.6358615294104)

763239.618550235

In [30]:
(pred_train_lr-y_train)

          TOTCHG
219   -39.441755
390   409.023290
349  2628.204812
19    722.639407
479    96.219345
..           ...
343   573.207647
359  -292.652964
323  2479.474903
280  -201.089249
8     854.387609

[374 rows x 1 columns]

In [31]:
np.absolute(pred_train_lr-y_train)

          TOTCHG
219    39.441755
390   409.023290
349  2628.204812
19    722.639407
479    96.219345
..           ...
343   573.207647
359   292.652964
323  2479.474903
280   201.089249
8     854.387609

[374 rows x 1 columns]

In [32]:
#############################

In [33]:
#Do the Normalizations:
#It would scale the numerica valie between (0-1)
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler()
X = norm.fit_transform(X)
type(X)

numpy.ndarray

In [34]:
#ALways make a practice to check the X and Y before splitting the data:

In [35]:
#DO the train_test_split:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state =100)

In [36]:
#Now again use the linear regression:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [37]:
#Go for the Prediction on train and test:
pred_train_norm = lr.predict(X_train)
pred_test_norm = lr.predict(X_test)

In [38]:
print(pred_train_norm,pred_test_norm)

[[ 1121.55824479]
 [ 1505.02328952]
 [ 4446.2048117 ]
 [ 2524.63940664]
 [ 1478.21934493]
 [  517.01497764]
 [  872.71215345]
 [ 1834.58238256]
 [ 1480.32752034]
 [ 1593.86782498]
 [ 1513.78662938]
 [ 1118.54656562]
 [ 1148.6633573 ]
 [ 1068.16643455]
 [13677.16871409]
 [ 3819.12261536]
 [ 3668.95845201]
 [ 1105.89751312]
 [  950.38121491]
 [ 2249.06098578]
 [ 1755.97755628]
 [ 1571.28023122]
 [ 3739.43641485]
 [ 2310.20480983]
 [ 1786.91276274]
 [ 1576.70125372]
 [ 1162.21591356]
 [ 1783.08266879]
 [ 1748.74952628]
 [ 1859.57931966]
 [ 1042.18379542]
 [ 1557.42650704]
 [ 1920.13838416]
 [ 2270.75181273]
 [ 2434.63292893]
 [ 4723.4222205 ]
 [ 1106.80101687]
 [ 2252.68173772]
 [ 1767.72310503]
 [ 3835.02268819]
 [ 2226.78129688]
 [ 1090.29720201]
 [ 1496.89175577]
 [ 1169.43720662]
 [ 2583.44550243]
 [ 2272.85998815]
 [ 2268.64363731]
 [ 1474.90649784]
 [ 1366.64056065]
 [ 1056.20480685]
 [ 2032.6825034 ]
 [ 1538.45292829]
 [ 6980.96561071]
 [ 3009.67639134]
 [ 4316.19047419]
 [ 2219.42707876]
 [ 1586.33862706]
 [ 2562.04784604]
 [ 2207.20538229]
 [ 1955.5835167 ]
 [ 1127.88277105]
 [ 1582.42344414]
 [ 1848.91225446]
 [ 2263.22261481]
 [ 8646.37088235]
 [ 1546.88562996]
 [ 5127.38749069]
 [ 1814.70530005]
 [ 9642.2595549 ]
 [ 1950.21738872]
 [ 1587.54329872]
 [ 1486.35087868]
 [ 3353.57708503]
 [ 1270.43796081]
 [ 1135.28578085]
 [ 4447.50936303]
 [ 1052.59079185]
 [ 1551.70431662]
 [ 1574.89424622]
 [ 7819.7139121 ]
 [ 1548.03766979]
 [ 2555.43688617]
 [ 6776.79686463]
 [ 7420.30939017]
 [ 2653.03960443]
 [ 2892.52207171]
 [ 6743.26548085]
 [ 5887.82502578]
 [ 2306.28962691]
 [ 2476.83205988]
 [ 8739.65029613]
 [ 1574.29191038]
 [11240.01963396]
 [ 1764.41025795]
 [ 2063.58823959]
 [ 1499.60226702]
 [  958.27625227]
 [ 2235.84375302]
 [ 1384.42494289]
 [ 2407.30222472]
 [ 8892.04625383]
 [ 7550.8724513 ]
 [12303.37804667]
 [  761.51308518]
 [ 1479.42401659]
 [  296.66962998]
 [  932.29361313]
 [ 3986.95585641]
 [ 1112.97373101]
 [  823.3206151 ]
 [ 1827.35435256]
 [ 2170.49910365]
 [ 1810.48894922]
 [ 1384.54449393]
 [ 1546.28329412]
 [ 2187.02713186]
 [ 1495.98825202]
 [ 1717.46801655]
 [ 3563.71333932]
 [ 3050.51403172]
 [ 1772.84295962]
 [ 5430.40746463]
 [ 1578.50826122]
 [ 1099.27181895]
 [ 1403.40084161]
 [ 1038.13473184]
 [ 1073.97371394]
 [  613.86225786]
 [ 1156.19255522]
 [ 1580.77388966]
 [ 2220.45677062]
 [ 2523.62838708]
 [ 7952.79998639]
 [  138.96867848]
 [ 3936.7264422 ]
 [ 4850.44623345]
 [ 1634.08998832]
 [ 1536.04358495]
 [ 2570.49528201]
 [ 1754.77288461]
 [29183.56271963]
 [ 1756.27872419]
 [ 1757.78456378]
 [ 1588.14563456]
 [ 1994.90647941]
 [ 1161.91474564]
 [  927.19128532]
 [ 8883.2040444 ]
 [ 8887.60532239]
 [ 3000.94252176]
 [ 1500.50577077]
 [ 1573.99074247]
 [ 1134.2072973 ]
 [ 1482.13452784]
 [ 1026.40904381]
 [ 1790.00953088]
 [ 1545.07862245]
 [ 4512.36019021]
 [ 1700.21251005]
 [ 3009.07405551]
 [ 2258.70509606]
 [ 1822.83683381]
 [ 3405.02309649]
 [ 1162.51708148]
 [ 2217.74625937]
 [ 1170.48631977]
 [ 1405.32508019]
 [ 1448.10639952]
 [ 2195.76100145]
 [ 1239.90045017]
 [ 1768.02427295]
 [ 1549.89730912]
 [ 1373.97300104]
 [  643.97904954]
 [ 1813.50062839]
 [ 4708.86087569]
 [ 1592.36198539]
 [ 2413.04194192]
 [  163.38208116]
 [ 1042.65225059]
 [ 4009.68048652]
 [ 1443.39264856]
 [ 1873.13187591]
 [ 2467.19468655]
 [ 2308.09663441]
 [  430.51936495]
 [ 1081.20174394]
 [ 2188.53297144]
 [ 1165.22759273]
 [ 3320.15823609]
 [ 1072.16670644]
 [ 1079.0974148 ]
 [ 1505.32445744]
 [ 1579.11059705]
 [ 1835.17798145]
 [ 2293.64057441]
 [ 1258.466399  ]
 [ 1487.55555035]
 [ 1484.8450391 ]
 [  211.87011576]
 [ 1536.9470887 ]
 [ 1446.44206946]
 [29726.88461248]
 [ 1142.94116689]
 [ 1045.36276184]
 [ 1476.71350534]
 [ 1331.35498635]
 [ 6924.78781119]
 [11827.47223002]
 [ 7700.75849787]
 [ 1579.41176497]
 [ 1030.26711313]
 [ 1567.96738413]
 [ 5812.9837399 ]
 [13028.64837971]
 [ 2927.15638214]
 [  535.29353892]
 [ 1909.3754906 ]
 [ 6895.4209165 ]
 [ 1343.88183336]
 [ 2998.83434634]
 [ 1562.54636163]
 [ 2253.28407356]
 [ 2291.23123107]
 [ 1539.35643204]
 [  845.60704094]
 [ 1740.59826643]
 [ 1607.74896779]
 [ 1589.95264206]
 [ 9555.93892201]
 [ 1994.68251799]
 [ 1139.93333399]
 [ 1099.57298687]
 [ 2646.77297723]
 [   88.80934091]
 [ 3581.1319902 ]
 [ 1549.59614121]
 [ 1040.84524309]
 [ 1536.34475287]
 [ 7300.71768059]
 [ 1555.92066746]
 [ 1155.28905147]
 [ 1098.3683152 ]
 [ 1841.50924465]
 [ 1152.57854022]
 [ 7380.4011141 ]
 [ 1398.3982181 ]
 [ 6703.15453978]
 [ 1108.60802437]
 [ 1539.05526412]
 [ 2170.80027157]
 [ 2253.14035867]
 [ 3325.86289974]
 [ 1838.49756548]
 [ 1042.78613125]
 [ 1499.90343494]
 [ 4799.20169207]
 [ 2257.50042439]
 [ 5438.19343684]
 [ 1592.06081748]
 [ 1642.17603735]
 [ 1535.44124912]
 [ 1874.6377155 ]
 [ 1586.94096289]
 [ 2261.41560731]
 [ 1153.18087606]
 [ 1868.91552508]
 [ 5935.22186248]
 [ 1571.58139913]
 [ 1476.41233742]
 [ 1594.47016081]
 [ 2268.3424694 ]
 [ 1392.21920583]
 [ 6438.95599707]
 [10998.03679578]
 [ 3625.71283103]
 [ 4598.78962577]
 [ 2988.59463717]
 [ 1569.77439163]
 [ 1078.49123269]
 [ 2209.01238979]
 [ 1105.81242415]
 [ 3115.46204482]
 [ 1560.43818621]
 [ 7907.99880945]
 [ 1063.13166893]
 [ 1232.7869794 ]
 [ 6787.11502569]
 [ 2223.46844979]
 [ 1567.06388038]
 [ 2204.49487103]
 [ 3877.07015283]
 [ 4602.52689674]
 [ 6707.57947308]
 [ 5837.09878138]
 [ 5384.34735393]
 [ 1040.54407517]
 [ 3235.25420107]
 [ 4801.51468129]
 [ 1155.59021939]
 [ 3354.17942086]
 [ 5920.22112641]
 [ 5142.24640792]
 [ 1126.67809938]
 [ 2206.60304645]
 [ 2549.71469575]
 [ 1815.00646797]
 [ 1176.25634628]
 [ 1502.33859833]
 [ 4352.60232185]
 [ 3419.01242456]
 [ 2399.50111441]
 [ 1474.30416201]
 [ 1062.5293331 ]
 [ 1511.34781577]
 [ 1551.10198079]
 [ 2849.48452988]
 [ 1101.9823302 ]
 [ 2286.88484585]
 [ 2339.45853724]
 [ 1065.84218018]
 [ 1865.90384591]
 [  939.00150559]
 [ 4243.11108524]
 [ 4695.13324344]
 [ 1111.92087145]
 [ 1373.88386974]
 [ 2251.47706605]
 [ 1240.20161809]
 [ 1129.38861063]
 [ 6711.35468751]
 [ 1840.00725134]
 [ 1582.12227622]
 [ 1037.83356392]
 [ 1053.79546351]
 [ 3118.59735978]
 [ 1496.70899336]
 [ 1592.66315331]
 [ 1833.98004673]
 [ 1113.72787896]
 [ 1580.31526872]
 [ 1071.26320269]
 [ 1772.24062379]
 [ 1505.62562535]
 [ 1270.26682727]
 [ 2286.11137649]
 [ 2216.24041979]
 [ 1161.61357773]
 [ 1594.77132873]
 [ 1578.06337841]
 [ 2645.03435866]
 [ 4377.11985934]
 [ 1532.45698859]
 [ 7167.30806995]
 [ 1118.84773354]
 [ 2573.07575887]
 [ 1037.53239601]
 [ 1825.24617714]
 [ 1535.1400812 ]
 [ 5526.93480476]
 [ 1949.91622081]
 [ 9937.34682903]
 [ 4378.62569892]
 [ 1080.59940811]
 [ 1055.90363893]
 [ 3647.107382  ]
 [ 1503.81861785]
 [  782.36177841]
 [ 1598.98767956]
 [ 1995.20764733]
 [  804.34703634]
 [ 6067.47490256]
 [ 2522.91075115]
 [ 1386.38760877]] [[ 1006.25088628]
 [ 7084.56532246]
 [ 1045.66392976]
 [ 3912.90107497]
 [ 2156.04679005]
 [ 1841.84351436]
 [14749.69211227]
 [ 1132.09912188]
 [ 3468.06698436]
 [ 1149.86802897]
 [ 1142.63999897]
 [ 3969.44229131]
 [ 1144.74817439]
 [ 2985.92327331]
 [ 1563.44986538]
 [  830.84981302]
 [ 1784.58850837]
 [ 2255.39224897]
 [ 1574.5930783 ]
 [ 1080.90057602]
 [ 1577.60475747]
 [ 1941.23134953]
 [ 1233.25928085]
 [ 2964.80237174]
 [ 1561.64285788]
 [  767.30338257]
 [ 2301.77210816]
 [ 2075.02887403]
 [ 2382.47163597]
 [ 5327.98409546]
 [ 2280.08801815]
 [ 3828.81615587]
 [ 1541.76577537]
 [  792.30031967]
 [ 1462.59482047]
 [ 1080.29824019]
 [ 1495.6870841 ]
 [ 1571.88256705]
 [ 2070.45852738]
 [ 3626.14403333]
 [ 1151.37386856]
 [12596.18791691]
 [ 1824.94500922]
 [ 2905.47229213]
 [ 1135.11080105]
 [ 4996.7819429 ]
 [ 1048.37444101]
 [ 4608.37527527]
 [  791.39681592]
 [ 4117.86849306]
 [ 1670.92875257]
 [ 1556.22183538]
 [ 3633.55482574]
 [16209.44089941]
 [ 3535.67586218]
 [ 1827.05318464]
 [ 1098.97065103]
 [ 1390.87930746]
 [ 2216.84275562]
 [ 1494.18124452]
 [ 1830.72762021]
 [ -218.58279414]
 [ 2572.00112159]
 [ 1130.89445021]
 [ 4307.19854154]
 [  851.61671877]
 [ 1169.3294842 ]
 [ 1509.54080827]
 [ 1542.3681112 ]
 [ 1840.30457298]
 [ 5682.8879337 ]
 [ 1491.77190118]
 [ 1073.3713781 ]
 [ 2787.26781369]
 [ 5493.94915233]
 [ 1110.71619979]
 [ 3184.73634307]
 [ 2220.15560271]
 [ 4112.01899378]
 [ 1494.78358035]
 [  521.98567248]
 [ 6231.97117937]
 [ 2205.09720687]
 [ 6687.95232917]
 [ 1122.46174854]
 [ 2651.49471733]
 [ 1487.84508939]
 [ 2088.09740009]
 [ 4731.0328157 ]
 [ 1483.94153534]
 [ 2553.93104658]
 [ 1475.50883367]
 [ 1049.27794476]
 [ 1060.11998977]
 [ 1590.25380997]
 [ 1102.28349812]
 [ 1141.73649522]
 [ 1141.13415938]
 [ 3942.45626876]
 [ 1504.7221216 ]
 [ 4720.09383811]
 [ 1488.4590541 ]
 [ 9032.11042028]
 [ 3399.09953141]
 [ 8194.4124385 ]
 [ 1589.35030622]
 [  430.21819703]
 [ 2685.68029869]
 [ 1504.11978577]
 [ 4920.48800219]
 [ 4635.65152132]
 [ 1051.98845601]
 [ 2858.17730032]
 [ 1254.73612999]
 [ 5063.60048249]
 [ 2199.37501645]
 [ 1538.57622573]
 [ 2418.00723827]
 [ 1135.89984543]
 [ 1542.97044704]
 [ 1248.61884461]
 [ 3969.74345923]
 [ 1164.02292106]
 [ 1475.20766576]
 [ 1112.52320729]]

In [39]:
#Check the result:
#Mean Absolute Error:
print(mean_absolute_error(y_train,pred_train_norm))
print(mean_absolute_error(y_test,pred_test_norm))

873.6358615294118
1212.3070559418243

In [40]:
#Check the result:
#Mean Sqaured Error:
print("Mean Sqaured Error After Normalizations:")
print(mean_squared_error(y_train,pred_train_norm))
print(mean_squared_error(y_test,pred_test_norm))

Mean Sqaured Error After Normalizations:
3081192.173595695
18011965.049535703

In [41]:
#Go for the Standardization:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
X_std = std.fit_transform(X)

In [42]:
X_std

array([[-1.72655146,  1.71382949,  0.97819361, -0.24668147, -0.15198702,
        -0.31580792],
       [-1.71962994,  1.71382949, -1.02229251, -0.24668147, -0.15198702,
         0.7665591 ],
       [-1.71270842,  1.71382949,  0.97819361,  1.23996167, -0.15198702,
         1.75919622],
       ...,
       [ 1.71344357, -0.73371522,  0.97819361, -0.24668147, -0.15198702,
         0.13284162],
       [ 1.72036509, -0.73371522,  0.97819361, -0.24668147, -0.15198702,
         0.13284162],
       [ 1.72728661, -0.73371522, -1.02229251,  0.34797579, -0.15198702,
         0.13284162]])

In [43]:
#Do the train_test_split:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_std,y,test_size=0.25,random_state =100)

In [44]:
#Now again use the linear regression:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [45]:
#Go for the Prediction on train and test:
pred_train_std = lr.predict(X_train)
pred_test_std = lr.predict(X_test)

In [46]:
#Check the result:
#Mean Absolute Error:
print("After Standardizations,Mean Absolute Error:")
print(mean_absolute_error(y_train,pred_train_std))
print(mean_absolute_error(y_test,pred_test_std))

After Standardizations,Mean Absolute Error:
873.6358615294047
1212.3070559418188

In [47]:
#Check the result:
#Mean Squared Error:
print("After Standardizations;Mean Sqaured Error:")
print(mean_squared_error(y_train,pred_train_std))
print(mean_squared_error(y_test,pred_test_std))

After Standardizations;Mean Sqaured Error:
3081192.173595695
18011965.049535718

In [48]:
#Make a DataFrame:
A = pd.DataFrame({"Reg":["Train","Test"],"Name":["V","K"]})
A

     Reg Name
0  Train    V
1   Test    K

In [49]:
{"Train_mae":[873.6358615294118,],"Test_mae":[1212.3070559418243]}

{'Train_mae': [873.6358615294118], 'Test_mae': [1212.3070559418243]}

In [50]:
Result = pd.DataFrame({"Train_mae":[873.6358615294118,873.6358615294118,873.6358615294048],"Test_mae":[1212.3070559418243,1212.3070559418243,1212.3070559418193],"Train_Sqr_err":[3081192.173595695,3081192.173595695,3081192.1735956934],"Test_Sqr_error":[18011965.049535684,18011965.049535703,18011965.049535718]})

In [51]:
#Put the Index Name:
Result.index = ['Original','After_Norm',"After_Std"]

In [52]:
Result

             Train_mae     Test_mae  Train_Sqr_err  Test_Sqr_error
Original    873.635862  1212.307056   3.081192e+06    1.801197e+07
After_Norm  873.635862  1212.307056   3.081192e+06    1.801197e+07
After_Std   873.635862  1212.307056   3.081192e+06    1.801197e+07

In [53]:
Result.columns = ["Train_MAE","Test_MAE","TRAIN_SQR_Error","TEST_Square_Error"]

In [54]:
#Result are almost same.
#Now we would build the different model:

In [55]:
#Build the Decision Tree Classification:
from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor()
#Build the model(Learn the model):
Dt.fit(X_train,y_train)

DecisionTreeRegressor()

In [56]:
#Predict on X_train and X_test:
pred_train_dt = Dt.predict(X_train)
pred_test_dt =  Dt.predict(X_test)

In [57]:
#Check the metrics:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [58]:
#Mean_Absolute_error:
print("Mean_absolute_error:")
print("Decision tree model gives mean absolute error on y_train:{}".format(mean_absolute_error(y_train,pred_train_dt)))
print("Decision tree model gives mean_absolute_error on y_test:{}".format(mean_absolute_error(y_test,pred_test_dt)))

Mean_absolute_error:
Decision tree model gives mean absolute error on y_train:0.0
Decision tree model gives mean_absolute_error on y_test:1056.68

In [59]:
#Mean Sqaured Error:
print("Mean_Sqaured_error on train and test:")
print("Mean Sqaured Error on y_train{}:".format(mean_squared_error(y_train,pred_train_dt)))
print("Mean Sqaured Error on y_train{}:".format(mean_squared_error(y_test,pred_test_dt)))

Mean_Sqaured_error on train and test:
Mean Sqaured Error on y_train0.0:
Mean Sqaured Error on y_train17974907.96:

In [60]:
#Explore 
print(Dt.get_depth)

<bound method BaseDecisionTree.get_depth of DecisionTreeRegressor()>

In [61]:
#Now Normalized the values:
#But we should not normalize the output values
from sklearn.preprocessing import MinMaxScaler
Norm = MinMaxScaler()
X_norm = Norm.fit_transform(X)

#Split the data into train and test:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_norm,y,test_size=0.25,random_state=10000)

In [62]:
#Build the Decision Tree regression and check the result:
from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor()
#Build the model(it actually learns):
Dt.fit(X_train,y_train)
#Predict on train and test:
pred_train_dt_norm = Dt.predict(X_train)
pred_test_dt_norm = Dt.predict(X_test)
#Check the Result:
#Mean_Absolute_error:
print("Mean_absolute_error:")
print("Decision tree model gives mean absolute error on y_train:{}".format(mean_absolute_error(y_train,pred_train_dt_norm)))
print("Decision tree model gives mean_absolute_error on y_test:{}".format(mean_absolute_error(y_test,pred_test_dt_norm)))
#Mean Sqaured Error:
print("Mean_Sqaured_error on train and test:")
print("Mean Sqaured Error on y_train {}: ".format(mean_squared_error(y_train,pred_train_dt)))
print("Mean Sqaured Error on y_train {}: ".format(mean_squared_error(y_test,pred_test_dt)))

Mean_absolute_error:
Decision tree model gives mean absolute error on y_train:0.0
Decision tree model gives mean_absolute_error on y_test:1276.896
Mean_Sqaured_error on train and test:
Mean Sqaured Error on y_train 25538739.13368984:
Mean Sqaured Error on y_train 17889699.608:

In [63]:
#Now Standarized the values:
#But we should not normalize the output values
from sklearn.preprocessing import StandardScaler
Std = StandardScaler()
X_std = Std.fit_transform(X)

#Split the data into train and test:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_std,y,test_size=0.25,random_state=100)
#Build the Decision Tree regression and check the result:
from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor()
#Build the model(it actually learns):
Dt.fit(X_train,y_train)
#Predict on train and test:
pred_train_dt_std = Dt.predict(X_train)
pred_test_dt_std = Dt.predict(X_test)
#Check the Result:
#Mean_Absolute_error:
print("Mean_absolute_error:")
print("Decision tree model gives mean absolute error on y_train:{}".format(mean_absolute_error(y_train,pred_train_dt_std)))
print("Decision tree model gives mean_absolute_error on y_test:{}".format(mean_absolute_error(y_test,pred_test_dt_std)))
#Mean Sqaured Error:
print("Mean_Sqaured_error on train and test:")
print("Mean Sqaured Error on y_train {}: ".format(mean_squared_error(y_train,pred_train_dt_std)))
print("Mean Sqaured Error on y_train {}: ".format(mean_squared_error(y_test,pred_test_dt_std)))

Mean_absolute_error:
Decision tree model gives mean absolute error on y_train:0.0
Decision tree model gives mean_absolute_error on y_test:959.776
Mean_Sqaured_error on train and test:
Mean Sqaured Error on y_train 0.0:
Mean Sqaured Error on y_train 8975636.784:

In [64]:
##Observations: After Standardizations it reduces the result

In [65]:
#Build the Random Forest Regressor:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor()

#But we should not normalize the output values
from sklearn.preprocessing import StandardScaler
Std = StandardScaler()
X_std = Std.fit_transform(X)

#Split the data into train and test:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_std,y,test_size=0.25,random_state=10000)

#Build the Model:
RF.fit(X_train,y_train)
#Predict on train and test:
pred_train_RF_norm = RF.predict(X_train)
pred_test_RF_norm = RF.predict(X_test)

#Check the Result:
#Mean_Absolute_error:
print("Mean_absolute_error:")
print("Decision tree model gives mean absolute error on y_train:{}".format(mean_absolute_error(y_train,pred_train_dt_norm)))
print("Decision tree model gives mean_absolute_error on y_test:{}".format(mean_absolute_error(y_test,pred_test_dt_norm)))
#Mean Sqaured Error:
print("Mean_Sqaured_error on train and test:")
print("Mean Sqaured Error on y_train {}: ".format(mean_squared_error(y_train,pred_train_dt)))
print("Mean Sqaured Error on y_train {}: ".format(mean_squared_error(y_test,pred_test_dt)))

C:\Users\HARIOHM\anaconda3\lib\site-packages\ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

Mean_absolute_error:
Decision tree model gives mean absolute error on y_train:0.0
Decision tree model gives mean_absolute_error on y_test:1276.896
Mean_Sqaured_error on train and test:
Mean Sqaured Error on y_train 25538739.13368984:
Mean Sqaured Error on y_train 17889699.608:

In [66]:
#Build the Adaboost Regressor:
from sklearn.ensemble import AdaBoostRegressor
Ad = AdaBoostRegressor()

#Build and learn the Model:
Ad.fit(X_train,y_train)

#Predict on X_train and X_test:
pred_train_ad = Ad.predict(X_train)
pred_test_ad = Ad.predict(X_test)

#Check the metrics how my model performs:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print("Mean Absolute Error:")
print("Mean Absolute Error by AdaR {}".format(mean_absolute_error(y_train,pred_train_ad)))
print("Mean Absolute Error by AdaR {}".format(mean_absolute_error(y_test,pred_test_ad)))
print("Mean Squared Error:")
print("Mean Sqaured Error by AdaR {}".format(mean_squared_error(y_train,pred_train_ad)))
print("Mean Squared Error by AdaR {}".format(mean_squared_error(y_test,pred_test_ad)))

C:\Users\HARIOHM\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Mean Absolute Error:
Mean Absolute Error by AdaR 1265.8745369265966
Mean Absolute Error by AdaR 1435.113688575783
Mean Squared Error:
Mean Sqaured Error by AdaR 2515113.4423856037
Mean Squared Error by AdaR 3278081.7362028146

In [67]:
#Build the Xgboost Model:
import xgboost as xgb
#First Convert the data inot optimized DMatrix for the Xgboost model:
data_DMatrix = xgb.DMatrix(X,y)  

xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
#Build and learn the Model:
xg_reg.fit(X_train,y_train)

#Predict on X_train and X_test:
pred_train_xgb = xg_reg.predict(X_train)
pred_test_xgb = xg_reg.predict(X_test)

#Check the metrics how my model performs:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print("Mean Absolute Error:")
print("Mean Absolute Error by XGBR {}".format(mean_absolute_error(y_train,pred_train_xgb)))
print("Mean Absolute Error by XGBR {}".format(mean_absolute_error(y_test,pred_test_xgb)))
print("Mean Squared Error:")
print("Mean Sqaured Error by XGBR {}".format(mean_squared_error(y_train,pred_train_xgb)))
print("Mean Squared Error by XGBR {}".format(mean_squared_error(y_test,pred_test_xgb)))

[17:49:06] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[17:49:06] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
Mean Absolute Error:
Mean Absolute Error by XGBR 1317.150113845254
Mean Absolute Error by XGBR 1316.617451171875
Mean Squared Error:
Mean Sqaured Error by XGBR 12245539.199357854
Mean Squared Error by XGBR 9357584.012039123

In [68]:
#Build the KNN Regression:
from sklearn.neighbors import KNeighborsRegressor
KNNR = KNeighborsRegressor(n_neighbors = 3)
#Build the Model:
KNNR.fit(X_train,y_train)

#Predict on X_train and X_test:
pred_train_KNNR = KNNR.predict(X_train)
pred_test_KNNR = KNNR.predict(X_test)

#Check the metrics how my model performs:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print("Mean Absolute Error:")
print("Mean Absolute Error by KNNR {}".format(mean_absolute_error(y_train,pred_train_KNNR)))
print("Mean Absolute Error by KNNR {}".format(mean_absolute_error(y_test,pred_test_KNNR)))
print("Mean Squared Error:")
print("Mean Sqaured Error by KNNR {}".format(mean_squared_error(y_train,pred_train_KNNR)))
print("Mean Squared Error by KNNR {}".format(mean_squared_error(y_test,pred_test_KNNR)))

Mean Absolute Error:
Mean Absolute Error by KNNR 709.8057040998217
Mean Absolute Error by KNNR 847.0426666666667
Mean Squared Error:
Mean Sqaured Error by KNNR 4562831.724301842
Mean Squared Error by KNNR 2995757.2186666667

In [69]:
#Build the Support Vector Regressor:
from sklearn.svm import SVR
svm = SVR()
#Build and learn the Model:
svm.fit(X_train,y_train)



#Predict on X_train and X_test:
pred_train_SVR = svm.predict(X_train)
pred_test_SVR = svm.predict(X_test)

#Check the metrics how my model performs:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print("Mean Absolute Error:")
print("Mean Absolute Error by SVR {}".format(mean_absolute_error(y_train,pred_train_SVR)))
print("Mean Absolute Error by SVR {}".format(mean_absolute_error(y_test,pred_test_SVR)))
print("Mean Squared Error:")
print("Mean Sqaured Error by SVR {}".format(mean_squared_error(y_train,pred_train_SVR)))
print("Mean Squared Error by SVR {}".format(mean_squared_error(y_test,pred_test_SVR)))

Mean Absolute Error:
Mean Absolute Error by SVR 1628.7235179649122
Mean Absolute Error by SVR 1575.08955497025
Mean Squared Error:
Mean Sqaured Error by SVR 17897029.31922541
Mean Squared Error by SVR 12822840.268204015

C:\Users\HARIOHM\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)